#sort_controls {
	margin-top: 25px;
	margin-left: 10px;
	
	font-size: 12px;
	
	float: left;

	
}

.list_items {
	float: left;	
	clear: left;
	
	margin-bottom: 5px;
	
}

#contents h3 {
	float: left;
	
}

#footer {
	float: left;
}

fieldset {
	width: 1160px;
	
	float:left;
	clear: left;
}
