#job_details_box {
	width: 300px;
	
	float: right;
	
}

#vendor_details_box {
	width: 300px;
	
	float: right;
	clear: right;
	
}

#contact_details {
	margin-bottom: 10px;
	
}

#subs_details {
	width: 840px;
	
}

#subs_history {
	width: 840px;
	
}

#assign_item {
	float: right;
	
	padding: 5px;
	
	width: 155px;
	height: 22px;
	
	text-align: center;
	
	border: 1px solid black;
	-moz-border-radius: 5px;
}


/* ChecklistItem blocks*/

#overdue, #open, #waiting {
	
	margin-bottom:10px;
	
	float: left;
	clear: left;
}

.headers {
	
	float: left;
	clear: left;
}

.sup_names {
	margin-left: 15px;
	
	float: left;
	clear: left;
	
}

.list_items {
	margin-left: 15px;
	
}
