#job_details_box {
	width: 300px;
	
	float: right;
	
}

#suppliers {
	margin-top: 5px;
	
}

#vendor_details_box {
	width: 300px;
	
	float: right;
	clear: right;
	
}

#contact_details {
	margin-bottom: 10px;
	
}

#subs_details {
	width: 840px;
	
}

#subs_history {
	width: 840px;
	
}

#assign_sup {
	margin-top: 5px;
	
	clear: right;
}

/* ChecklistItem blocks*/

#overdue, #open, #waiting {
	
	margin-bottom:10px;
	
	float: left;
	clear: left;
}

.headers {
	
	float: left;
	clear: left;
}

.sup_names {
	margin-left: 15px;
	
	float: left;
	clear: left;
	
}

.list_items {
	margin-left: 15px;
	float: left;
}
