<h3>Vendors</h3>

<div id="sort_controls">
		Sort by: 
		<%= link_to "A-Z", {:action => "sort", :id => 2 }, :remote => true %> 
		<%= link_to "Type", {:action => "sort", :id => 2}, :remote => true %> 
		<%= link_to "Category", {:action => "sort", :id => 2}, :remote => true%>
</div>

<fieldset>
	<legend>A-Z</legend>	
	
	<% @partners.each do |i| %>
		<div class="list_items"><%= link_to i.name, "partner/#{i.id}"%></div>
	<% end %>	
</fieldset>
	

<% #Page's method calls and global variable modifiers %>

<% $active_tab = 3 %>
<% $active_page = "subcontractor.index" %>