<h2>Vendors:</h2>

<h3>Subcontractors:</h3>

<ul>
	<% @subcontractors.each do |i| %>
		<li><%= i.name %></li>
	<% end %>	
</ul>

<h3>Suppliers:</h3>

<ul>
	<% @suppliers.each do |i| %>
		<li><%= i.name %></li>
	<% end %>	
</ul>

<% #Page's method calls and global variable modifiers %>

<% $active_tab = 3 %>
<% $active_page = "subcontrator.index" %>