<fieldset id="subs_detailed_info" class="">
  <legend>legend</legend>
  
  
</fieldset>


<h2>Job: <%= @job.job_number %> - Subcontractor: <%= @subcontractor.name %> </h2>

<h3>Suppliers:</h3>

<ul>
	<% @suppliers.each do |i|  %>
		<li><%= link_to i.name, supplier_path(i.id, @job.job_number) %></li>
	<% end %>
</ul>

<h3>Subcontractors:</h3>

<ul>
	<% @subcontractors.each do |i|  %>
		<li><%= link_to i.name, subcontractor_path(i.id, @job.job_number) %></li>
	<% end %>
</ul>

<% #Page's method calls and global variable modifiers %>

<% $active_page = "subcontractor.show" %>