<% unless t.checklist_items.first.nil? then t.checklist_items.each do |l|%>
	<div class="sub_list_items" id="<%= "#{l.id}cli" %>"> <%= image_tag get_image(l.state)%> 
		<% if l.state < 3 %>
			<input type="checkbox" onclick="$.ajax('/mark_done/<%= l.id %>')" />
		<% end %>
		<%= l.item_data %> </div>
	<% end %>
<% end %>
