<fieldset>
	<legend>Open</legend>
	
	<% @jobs.each do |i| %>
		<div class="job_headers"> <%= image_tag get_image(i.state) %> <%= link_to "#{i.job_number} - #{i.name}", job_path(i.job_number) %></div>
	<% end %>
	
</fieldset>

<fieldset>
	<legend>Closed</legend>

</fieldset>

<% #Method calls and global variable modifiers of the page %>

<% $active_tab = 2 %>
<% $active_page = "job.index"%>

