<div class="grid_12" id="pagedescription"><h2>All Jobs</h2></div>

	<div id="contentmiddle" class="grid_12">
	<h2>Jobs with Open Items</h2>
	
	<% @open_jobs.each do |i| %>
		<h4> <%= image_tag get_image(i.state) %> <%= link_to "#{i.job_number} - #{i.name}", job_path(i.id) %></h4>
	<% end %>
	
	<h2>Jobs with no Open Items</h2>
	
	<% @closed_jobs.each do |i| %>
		<h4> <%= image_tag get_image(i.state) %> <%= link_to "#{i.job_number} - #{i.name}", job_path(i.id) %></h4>
	<% end %>
	
</div>

<% #Method calls and global variable modifiers of the page %>

<% $active_tab = 2 %>
<% $active_page = "job.index"%>

