<fieldset id="job_details_box">
	<legend>Job Details</legend>
	
	<div class="detail_row"><%= "Value: $#{@job.value}"  %></div>
</fieldset>

<fieldset id="job_sub_and_item_details">
	<legend><%= "#{@job.job_number} - #{@job.name}" %></legend>
	
	<h3 class="headers">Subcontractors</h3>
	
	<% @subcontractors.each do |i| %>
			<li> <%= link_to i.name, subcontractor_path(i.id, @job.job_number) %> </li>
		<% end %>
	</ul>
</fieldset>





