.list_items {
	color: white;
	margin-left: 30px;
	float: left;
	clear: left;
}

.subs {
	margin-left: 30px;
	float: left;
	clear: left;
}

.jobs {
	margin-top: 5px;
	float: left;
	clear: left;
	margin-bottom: 20px;
	
}

.job_headers {
	float: left;
	clear: none;
}


fieldset {
	float:left;
	clear:left;
	
	width: 1172px;
	
}