body {
	background: #f1f1f1;	
}

#page {
	width: 1200px;
}

#header {
	padding: 15px;
	color: black;
	width: 1200px;
	height: 80px;
	background: #d1d1d1;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
}

#header h1 {
	float: left;
	padding: 30px; 
	margin: auto;
}

#logo {
	float: left;
}

#headerbuttons {
	float: right;
	height: 30px;
}

#headerbuttons ul {
	list-style: none;
}

#headerbuttons img {
	border: 0px;
}

#headerbuttons li a.button {
	background: #EEEEEE url(/images/n1.gif);
	border-radius: 3px;
	border: 1px solid;
	padding: 4px 10px 4px;
	color:	#666666;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
	float: right;
}

#headerbuttons li a:hover {
	color: #000000;

}

#nav {
	background: #d1d1d1;
	height: 23px;
	width: 1200px;
	padding: 15px;
	padding-bottom: 25px;
	color: #000000;
	border-bottom: 5px solid #0a7e07;
}

#nav ul {
	list-style: none;
	padding: 4px;
}

#nav li {
	display: block;
	float: left;
}

#nav li a {
	background: #EEEEEE;
	border: 1px solid #999999;
	border-bottom: none;
	color: #666666;
	font-size: 14px;
	padding: 8px 15px 8px;
	margin-left: 10px;
	text-decoration: none;
}

#nav li a:hover {
	color: black;
}

#nav li a#active {
	background: #EEEEEE url(/images/n3.png);
}

#contents {
	padding: 15px;
	width: 1200px;
}

#footer {
	width: 1200px;
	padding-top: 2px;
	height: 25px;
	color: #000000;
}

#footerText {
	margin: auto;
	width: 500px;
}

/* These should find their place in some other file!! */

.add_document {
	font-size: 12px;
	color: #888888;
	
}

.break {
	clear: both;
}

.closed_items {
	color: green;
	
}

.open_items {
	color: orange;
	
}

.waiting_items {
	color: blue;
	
}

.controls {
	float: right;
	
	clear: left;
	
	padding: 5px;
	
	width: 160px;
	height: 22px;
	
	text-align: center;
	
	border: 1px solid black;
	-moz-border-radius: 5px;
}

a {
	color: #111111;
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
	
	
}

a:hover {
	color: white;
	background: #888888;
	
}

select {
	width: 185px;
	
}

.list_items {
	color: #111111;
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;	
	
}

.list_data {
	float: left;
	clear: left;
}

.sub_header {
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 5px;
	float: left;
	clear: left;
	
}

#list_of_items {
	float: right;
	clear: right;
}

form {
	float: left;
}

.required_marker {
	margin-left: 5px;
	
	float: left;
	clear: right;
}

.inputs {
	width: 200px;
	
	float: left;

	margin-bottom: 3px;	
}

.input_rows {
	width: 400px;
	
	float: left;
	clear: left;
}

.labels {
	width: 200px;
	
	float: left;
	clear: left;
	
	margin-bottom: 3px;
	
}

select {
	width: 203px;
	clear: none;
}
