body {
	background: #EEEEEE;
	
}

#page {
	width: 1000px;
	margin:auto;
	
}

#header {
	padding: 10px;
	color: black;
	height: 100px;
	background: #EEEEEE;

}

#headerbuttons {
	float: right;
	height: 30px;
}

#header ul {
	display: block;
	list-style: none;
}

#header li a.button {
	background: #EEEEEE url(/images/n1.gif);
	border-radius: 3px;
	border: 1px solid;
	padding: 4px 10px 4px;
}

#nav {
	background: #EEEEEE;
	height: 100px;
	padding: 10px;
	color: #000000;
}

#nav ul {
	list-style: none;
	padding: 4px;
	border-bottom: 5px solid #0a7e07;
}

#nav li {
	display: block;
	float: left;
}

#nav li a {
	background: #EEEEEE;
	border: 1px solid #999999;
	border-bottom: none;
	color: #666666;
	font-size: 14px;
	padding: 8px 15px 8px;
	margin-left: 10px;
	text-decoration: none;
}

#nav li a:hover {
	color: #888888;
}

#nav li a.active {
	background: #EEEEEE url(/images/n3.gif);
}

#contents {
	padding: 15px;
	
	height: 500px;
	background: gray;
	
}

#footer {
	padding-top: 2px;

	height: 25px;
	
	color: #000000;
	background: #EEEEEE;
	
}

#footerText {
	margin: auto;
	width: 600px;
}

.navInputs {
	margin-left: 5px;
	
}

.news {
	float:right;
}

.olds {
	float:left;	
}

.input_items {
	float: left;
	clear: left;
}

.input_headers {
	width: 150px;
	
	float: left;	
}

h1 {	
	
	
	width: 40%;
	margin: auto;
			
}

h2 {
	margin: 0px;
	margin-bottom: 10px;
	float: left;
	clear:left;
}

h3 {
	margin: 0px;
	margin-bottom: 8px;
	float: left;
	clear:left;
}

h4 {
	margin: 0px:
	float: left;
	clear: left;
}

ul {
	float: left;
	
	clear: left;
	
}


a {
	font-family: Arial;
	text-decoration: underline;

}

a:link {
	text-decoration: underline;
}
	 
a:visited {
	color: blue;
	text-decoration: underline;
}

