body {
  background: #f1f1f1;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}
/*Header styling*/

#header	{
	color: black;
	height: 100px;
	background: #d1d1d1;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	margin-bottom: 0px;
}

/*Header buttons*/

#headerbuttons {
	float: right;
	height: 20px;
	margin-top: 30px;
}

#headerbuttons ul {
	list-style: none;
}

#headerbuttons img {
	border: 0px;
}

#headerbuttons li a.button {
	background: #EEEEEE url(/images/n1.gif);
	border-radius: 3px;
	border: 1px solid;
	padding: 4px 10px 4px;
	color:	#666666;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
	float: right;
}

#headerbuttons li a:hover {
	color: #000000;
}

/* Navigation */

#nav {
	background: #d1d1d1;
	height: 25px;
	color: #000000;
	border-bottom: 5px solid #0a7e07;
}

#nav ul {
	list-style: none;
	padding: 4px;
}

#nav li {
	display: block;
	float: left;
	margin-left: 10px;
}

#nav li a {
	background: #EEEEEE;
	border: 1px solid #999999;
	border-bottom: none;
	color: #666666;
	font-size: 14px;
	padding: 4px 15px 4px;
	text-decoration: none;
}

#nav li a:hover {
	color: black;
}

#nav li a#active {
	background: #EEEEEE url(/images/n3.png);
}
	
/*a styles*/

a {
  color: #001a9c;
  font-weight: bold;
  text-decoration: none;
 }

a:hover {
  text-decoration: underline;
}

/* heading styles */

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: left;
}

h2 {
  padding-top: 20px;
  text-align: left;
}

p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

/*Page specific styling*/
#jobs {
	border: 1px solid;
}

#sidebar {
	border: 1px solid;
	padding: 8px;
}
#sidebar h2 {
	padding: 0px;
	font-weight: bold;
	color: #939393;
}

.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

.container_12 {
  background-image: url(../img/12_col.gif);
}

.container_16 {
  background-image: url(../img/16_col.gif);
}

.container_24 {
  background-image: url(../img/24_col.gif);
}