<h2>Welcome to TUVendor system!</h2>

<fieldset>
<legend>Recent jobs</legend>	
	<ul>
		<% @recent_jobs.each_with_index do |i, x| %>
			<li><%= image_tag "overdue.png"%><%= link_to i.name, job_path(i.job_number)%>
				<ol>
					<% $jobs_subslists[x].each do |t| %>
						<li><%= t.name %></li>
					<% end %>
				</ol>
			</li>
		<% end %>
	</ul>
</fieldset>



<!--Page's method calls -->

<% $active_tab = 1 %>
