<h3>Welcome to Submarine!</h3>

<fieldset>
<legend>Recent jobs</legend>	
	
<% @recent_jobs.each_with_index do |i, x| %>
	<div class="index_jobs"><div class="index_job_headers"><%= image_tag "open.png"%> <%= link_to i.name, job_path(i.job_number)%></div>
		<% $jobs_subslists[x].each_with_index do |t, y| %>
			<div class="index_subs"><%= link_to t.name, subcontractor_path(t.id, i.job_number) %>
				<% get_list_items(t.id, i.job_number).each do |j| %>
					<div class="index_list_items"><%= link_to j.item_data, supplier_path(j.partner_id, j.job_number) %></div>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>	
</fieldset>



<% #Page's method calls and global variable modifiers %>

<% $active_tab = 1 %>
