<h3>Welcome to Submarine!</h3>

<fieldset>
<legend>Recent jobs</legend>	
	<ul>
		<% @recent_jobs.each_with_index do |i, x| %>
			<li><%= image_tag "open.png"%> <%= link_to i.name, job_path(i.job_number)%>
				<ol>
					<% $jobs_subslists[x].each_with_index do |t, y| %>
						<li><%= link_to t.name, subcontractor_path(t.id, i.job_number) %>
							<ul>
								<% get_list_items(t.id, i.job_number).each do |j| %>
									<li><%= link_to j.item_data, supplier_path(j.partner_id, j.job_number) %></li>
								<% end %>
							</ul>
						</li>
					<% end %>
				</ol>
			</li>
		<% end %>
	</ul>
</fieldset>



<!--Page's method calls and global variable modifiers-->

<% $active_tab = 1 %>
