#job_details_box {
	width: 300px;
	
	float: right;
	
}

#vendor_details_box {
	width: 300px;
	
	float: right;
	clear: right;
	
}

#contact_details {
	margin-bottom: 10px;
	
}

#subs_details {
	width: 840px;
	
}

#subs_history {
	width: 840px;
	
}

.list_blocks {
	margin-bottom: 10px;
	
	float: left;
	clear: left;
	
}

.list_items {
	width: 820px;
	
	
}

.subheaders {
	
	
}

.controls {
	
	float: right;
}
