#job_details_box {
	width: 300px;
	
	float: right;
	
}

#vendor_details_box {
	width: 300px;
	
	float: right;
	clear: right;
	
}

#contact_details {
	margin-bottom: 10px;
	
}

#subs_details {
	width: 840px;
	
}

#subs_history {
	width: 840px;
	
}

#overdue, #open, #waiting, #completed

.list_blocks {
	margin-bottom: 10px;
	
	float: left;
	clear: left;
	
	width: 820px;
	
}

.list_items {
	margin: 0px;
	float: left;
	clear: left;
	
}


.subheaders {
	
	
}

.controls {
	
	float: right;
}

input {
	float: left;
	margin-left: 0px;
}

img {
	float: left; 
	margin: left;
}
