<h2>New Vendor:</h2>

<h3>General:</h3>

<form method="post" action="http://localhost/job" name="new_job_input_form">
	<div class = "input_items"><div class="input_headers">Name: </div> <input type="text" size="20" name = "vendor_name_tfield"> </div>
	<div class = "input_items"><div class="input_headers">Category: </div><input type="text" size="20" name = "vendor_name_tfield"> </div>
	<div class = "input_items"><div class="input_headers">Description: </div><input type="text" size="20" name = "vendor_name_tfield"> </div>
	<div class = "input_items"><div class="input_headers">Type: </div><select name ="type_selector" label="Joo"> 
		<option value = 1>Subcontractor</option>
		<option value = 2>Supplier</option>
		<option value = 3>Both/Either</option>
		</select>
	</div>
</form>

<h3>Contact Person information:</h3>

<form method="post" action="http://localhost/job" name="new_job_input_form">
	<div class = "input_items"><div class="input_headers">Name: </div> <input type="text" size="20" name = "vendor_name_tfield"> </div>
	<div class = "input_items"><div class="input_headers">Title: </div><input type="text" size="20" name = "vendor_name_tfield"> </div>
	<div class = "input_items"><div class="input_headers">Phone: </div><input type="text" size="20" name = "vendor_name_tfield"> </div>
	<div class = "input_items"><div class="input_headers">Email: </div><input type="text" size="20" name = "vendor_name_tfield"> </div>
</form>
<h3>Address:</h3>

<form method="post" action="http://localhost/job" name="new_job_input_form">
	<div class = "input_items"><div class="input_headers">Street: </div> <input type="text" size="20" name = "vendor_name_tfield"> </div>
	<div class = "input_items"><div class="input_headers">City: </div><input type="text" size="20" name = "vendor_name_tfield"> </div>
	<div class = "input_items"><div class="input_headers">ZIP: </div><input type="text" size="20" name = "vendor_name_tfield"> </div>
	<div class = "input_items"><div class="input_headers">State: </div><input type="text" size="20" name = "vendor_name_tfield"> </div>
</form>
