<fieldset id="add_document_form">
	<legend>Attach a document to <%= @owner_name %></legend>
	
	<form action="/documents/" method="post" enctype="multipart/form-data" data-remote="true">
		<input type="text" name="name" value="document"/>
		<input type="file" name="document"/>
		<input type="hidden" name="owner_id" value="<%= @owner.id %>"/>
		<input type="hidden" name="owner_type" value="<%= @owner_type %>"/>
		<input type="submit" value="Upload" />
	</form>	
	
</fieldset>
