<fieldset id="vendors" class="">
	<legend> Vendors </legend>	
	<% if @vendors.length != 0 %>
  		<div id="suppliers">
  			<div class="headers">Suppliers:</div>
  			<% @vendors.each do |i| %>
  				<div class="list_items"> <%= link_to i.name, vendor_path(i.id) %></div>
	  		<% end %>
  		</div>
	<% end %>
</fieldset>

<% #Page's method calls and global variable modifiers %>

<% $active_tab = 3 %>
<% $active_page = "vendor.index" %>