<div id="pagedescription" class="grid_12">
	<h2> Vendors </h2>	
</div>
<div id="contentmiddle" class="grid_12">
	<% if @vendors.length != 0 %>
  			<% @vendors.each do |i| %>
  				<h4> <%= link_to i.name, vendor_path(i.id) %></h4>
	  		<% end %>
	<% end %>
</div>

<% #Page's method calls and global variable modifiers %>

<% $active_tab = 3 %>
<% $active_page = "vendor.index" %>