<div class="grid_12" id="pagedescription"><h2><%= @vendor.name %></h2></div>

<div class="grid_8" id="contentmiddle">
	<h4>Jobs</h4>
	
	
	<% if @jobs.length != 0 then %>
		<ul>
		<% @jobs.each do |i| %>
				<li><%= link_to "#{i.job_number} - #{i.name}", job_path(i.id) %></li>
		<% end %>
		</ul>
	<% else %>	
		<h5>Not assigned to any job</h5>
	<% end %>	
	
</div>

<div id="sidebar" class="grid_3">
	<h2>Vendor Details <span><%= link_to "Edit", {:controller => "vendors", :action => "edit", :id => @vendor.id} %></span></h2>

	<ul>
		<li>Contact Name: <span>George Smith</span></li>
		<li>Phone: <span>360-000-0000</span></li>
	</ul>

</div>



<% #Page's method calls and global variable modifiers %>

<% $active_tab = 3 %>
<% $active_page = "vendor.show" %>