<h1> Item added succesfully! </h1>

<script type="text/javascript">
	
	window.onload = setTimeout('redirect()', 2000);
	
	function redirect () {
	  window.location = "/jobs/<%= @job.id %>"
	}
</script>

