<div class="controls">
	<%= link_to "Touch", {:controller => "controls", :action => "modify", :id => id, :action_id => 1}, :remote => true%>
	<%= link_to "", {:controller => "controls", :action => "modify", :id => id, :action_id => 2}, :remote => true%>
</div>
