<div class="controls">
	<%= link_to "Touch", {:controller => "controls", :action => "touch_this", :id => id}, :remote => true%>
	<%= link_to "Mark done", {:controller => "controls", :action => "mark_done", :id => id}, :remote => true%>
</div>
