<fieldset>
	<legend>Assign a supplier to subcontractor: <%= @subcontractor.name %></legend>
	
	<form action="/suppliers/assign" method="post">
		<div class="input_rows"><div class="labels">Name</div><div class="inputs"><input type="text" name="name"></div></div>
		<input type="hidden" name="job_number" value="<%= @job.job_number%>" />
		<input type="hidden" name="id" value="<%= @subcontractor.id%>" />
		<div class="input_rows"><input type="submit" value="Assign" /></div>
	</form>
</fieldset>

<% #Page's method calls and global variable modifiers %>

<% $active_page = "subcontractor.new" %>