.sub_list_items {
	color: #405966;
	margin-left: 30px;
	float: left;
	clear: left;
}

.sup_list_items {
	color: #405966;
	margin-left: 45px;
	float: left;
	clear: left;
}

.sup_names {
	margin-bottom: 5px;
	margin-left: 30px;
	margin-top: 10px;
	float: left;
	clear: left;
}


.sub_names {
	margin-bottom: 5px;
	margin-left: 15px;
	margin-top: 10px;
	float: left;
	clear: left;
	
}

.jobs {
	margin-top: 5px;
	float: left;
	clear: left;
	margin-bottom: 20px;
	
}

.job_headers {
	
	
	float: left;
	clear: none;
}

.overdue_amounts {
	color: red;
}

.gaps {
	float: left;
	clear: left;
	height: 14px;
	
}

.overdue_list_items {
	margin-left: 15px;
	
	color: #FD0000;
	
	float: left;
	clear: left;
}

fieldset {
	float:left;
	clear:left;
	
	width: 1172px;
	
}